body{

}
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    right: 0px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
    background: #ffffff;
    margin: 0;
    padding: 0px !important;
    max-height:300px;
    overflow-x:hidden;
}
.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    margin-right:0;
}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 12px;
    overflow: hidden;
    margin-bottom: 3px;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
.style-btn {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin: 0 0 3px 3px;
    width: 145px;
    color: #fff;
}
.style-btn:hover {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin: 0 0 3px 3px;
    width: 145px;
    color: #fff;
}
/* Gallery */
.gallery {
    position: relative;
    width: 100%;

    margin: auto;
    overflow: hidden;
    list-style: none;
}
.gallery img {
    display: block;
    float: left;
}
.gallery ul {
    list-style: none;
    margin:0px;
    padding:0px;
}
.gallery ul li.each {
    position: relative;
    float: left;
    transition: all .8s;
    width: 100%;
}
.gallery ul li.each, .gallery ul li.each img {
    height: 0px;
}
.gallery ul li.each img {
    opacity: 0.5;
    transition: all .4s;
    width: 100%;
}
.gallery ul li.each.active, .gallery ul li.each.active img {
    height: auto;
}
.gallery ul li.each.active img {
    opacity: 1;
}

.gallery .direction span{
    cursor:pointer;
    color:#ed2024;
}

.gallery .direction span.previous{
    position:absolute;
    top:45%;
    left:15px;
}

.gallery .direction span.next{
    position:absolute;
    top:45%;
    right:15px;
}
.mcenter-div {
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    width: 165px;
}
.anchor-btn {
    display: block;
    text-decoration:none;
    width: 145px;
    height: 22px;
    background: red;
    /* padding: 10px; */
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
    /* font-weight: bold; */
}
.anchor-btn:visited {
    display: block;
    text-decoration:none;
    width: 145px;
    height: 22px;
    background: red;
    /* padding: 10px; */
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
    /* font-weight: bold; */
}
.anchor-btn:hover {
    display: block;
    text-decoration:none;
    width: 145px;
    height: 22px;
    background-color: red;
    /* padding: 10px; */
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
}